
$mapRedes:(facebook:blue, instagram:bisque, twitter:yellow);

@each $redSocial, $color in $mapRedes {
    .#{$redSocial} {
        color: $color;
    }
}

$estilo: (color:Blue, tamFuente: 20px);

.proyecto {
    background-color: map-get($estilo, color );
    font-size: map-get($estilo, tamFuente );
}