@import "maps";


.gridPadre {
  background-color: bisque;
}

$color-principal: black;

header {
  display: flex;
  align-items: center;   
  background-color: lightblue;

  h1 {
    color: $color-principal;
    text-align: center;
    margin-top: 2rem;
  }
nav {
  display: flex;

  li {
    display: inline-block;
    padding: 0 2rem;

    ul { 
      display: flex;
      
      &:hover {
        background-color: white;
      }
    }
  }
}
}

.container {
  opacity: 90%;
}

section {
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.imagenesTomografos {
  width: 15rem;
}

.arcoC {
  width: 20rem;
}

.fotoPulmon {
  width: 15rem;
}



.fotoPrincipal {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}

.contenedorImagenesTomografos {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: flex-start;
}

.contenedorCiudades {
  display: flex;
  grid-template-columns: 50% 50%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: flex-start;
}

.tomoMulti {
  display: flex;
  grid-template-columns: 50% 50%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: flex-start;
}



.colorHdos {
  color: black;
}

.maps {
  width: 25rem;
}


.tacSiem {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.iconosFooter {
  font-size: 5rem;
}

.contenedorFooter {
  display: flex;
  justify-content: space-evenly;
}

.derechos {
  color: black;
}

.locales {
  color: black;
}

.imgCarousel {
  height: 350px;
  object-fit: cover;
  width: 15rem;
}

.parrafo {
  border: dotted 2px blue;
}

body {
  font-size: 20px;
   }

.equipoTrabajo {
  width: 20rem;
}

.multimediaChica {
  width: 40rem;
}

main button {
  border-radius: 5px;
  background-color: bisque;
  width: 10rem;
  height: 3rem;
  cursor: pointer;
  margin-bottom: 1rem;
  -webkit-box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0,0,0,0);
}

form input {
  -webkit-box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0,0,0,0);
}


@media (min-width:700px) and (max-width: 1100px) {
  .gridPadre {
      display: grid;
      grid-template-areas: 
      "header header"
      "nav nav"
      "definition emotion"
      "sensation goup"
      "footer footer"
      ;
  }
}

@media (max-width:699px ) {
  .gridPadre {
      display: grid;
      grid-template-areas: 
      "header"
      "nav"
      "definition"
      "emotion"
      "sensation"
      "goup"
      "footer";
      flex-direction: column;
  }
}