@import "ubicacion"
{ 
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

}
.header {
    display: flex;
    align-items: center;
  }

.barraPrincipal {
    display: flex;
    padding: 0 2rem;
  }


.multimediaChica {
    width: 40rem;
  }


.tomoMulti {
    display: flex;
    grid-template-columns: 50% 50%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  
  .iconosFooter {
    font-size: 5rem;
  }
  
  .contenedorFooter {
    display: flex;
    justify-content: space-evenly;
  }

  .container {
    opacity: 90%;
  }

  .nav {
    display: flex;
  }

  .nav li {
    padding: 0 2rem;
  }


  section {
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  }

  .imagenesTomografos {
    width: 15rem;
  }

  .arcoC {
    width: 20rem;
  }

  .fotoPulmon {
    width: 15rem;
  }


  h1 {
    text-align: center;
    margin-top: 2rem;
    color: blue;
  }

  .fotoPrincipal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }


  .contenedorImagenesTomografos {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .contenedorCiudades {
    display: flex;
    grid-template-columns: 50% 50%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: flex-start;
  }


  .maps {
    width: 25rem;
  }


  .tacSiem {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }


  .derechos {
    color: blue;
  }

  .locales {
    color: blue;
  }

  .imgCarousel {
    height: 350px;
    object-fit: cover;
    width: 15rem;
  }

  .parrafo {
    border: dotted 2px blue;
  }

  body {
    font-size: 20px;
    background-color: white;
  }

  h2 {
    color: blue;
  }

  .equipoTrabajo {
    width: 20rem;
  }


  main button {
    border-radius: 5px;
    background-color: bisque;
    width: 10rem;
    height: 3rem;
    cursor: pointer;
    margin-bottom: 1rem;
    -webkit-box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  }

  form input {
    -webkit-box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  }

@media (min-width:700px) and (max-width: 1100px) {
    .gridPadre {
        display: grid;
        grid-template-areas: 
        "header header"
        "nav nav"
        "definition emotion"
        "sensation goup"
        "footer footer"
        ;
    }
}

@media (max-width:699px ) {
    .gridPadre {
        display: grid;
        grid-template-areas: 
        "header"
        "nav"
        "definition"
        "emotion"
        "sensation"
        "goup"
        "footer";
        flex-direction: column;
    }
}